<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">Dale's Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" id="homeLink" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="booksLink" href="books.html">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aboutLink" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contactLink" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signupLink" href="signup.html">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signinLink" href="signin.html">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
